@import "./_variables.scss";

@import url("https://fonts.googleapis.com/css?family=Montserrat");

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
section,
div,
input,
textarea {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: $font-family;
  box-sizing: border-box;
}

.Content--Container {
  background-color: $subtle-bg;
  width: 80vw;
  margin: auto;
  min-height: calc(100vh - 80px);
}

// Header

.Header--Container {
  width: 100vw;
  height: 80px;
  background-color: $primary-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;

  a, li {
    text-decoration: none;
    color: black;
    color: white;
  }

  .Header--UL {
    display: flex;
    font-size: 20px;

    .Header--LI {
      margin: 0 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

// Create Post

.Create-Post--Container {
  width: 90%;
  margin: auto;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .Create--Title {
    font-size: 52px;
  }

  .Form-Input--Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0px;

    >h3 {
      font-size: 26px;
      margin-bottom: 6px;
    }

    >input {
      width: 650px;
      height: 40px;
      border: 1px solid grey;
      text-align: left;
      font-size: 20px;
      padding: 0 10px;
    }

    .Input--Body {
      height: 300px;
      width: 650px;
      resize: none;
      font-size: 20px;
      font-weight: 300;
      padding: 10px;
    }
  }

  .Post--Form {
    display: flex;
    flex-direction: column;

    .Form--Submit {
      border: none;
      padding: 5px 10px;
      width: 200px;
      height: 40px;
      font-size: 18px;
      background-color: $primary-bg;
      color: white;
    }
  }
}

