@import url("https://fonts.googleapis.com/css?family=Montserrat");
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
section,
div {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  box-sizing: border-box; }

.Header--Container {
  width: 100vw;
  height: 80px;
  background-color: #13c2dd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px; }
  .Header--Container .Header--UL {
    display: flex;
    font-size: 20px; }
    .Header--Container .Header--UL .Header--LI {
      margin: 0 15px; }

.Home--Container {
  background-color: #eff6f7;
  width: 80vw;
  height: calc(100vh - 80px);
  margin: auto; }
